{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Flotte de la corpo - Ship {{ ship.name }}
{% endblock %}


{% block page_content %}

    <table class="table datagrid">
        <thead>
        {% block table_head %}
            <tr>
                <th class="text-left">
                    <span>Membre</span>
                </th>
                <th class="text-left">
                    <span>Nb</span>
                </th>
                <th class="text-left">
                    <span>Achat</span>
                </th>
                <th></th>
            </tr>
        {% endblock table_head %}
        </thead>
        <tbody>
        {% block table_body %}
            {% for fleet in ship.fleets %}
                <tr data-id="{{ fleet.id }}">
                    <td>{{ fleet.user.username }}</td>
                    <td>{{ fleet.numberShips }}</td>
                    <td><span class="badge badge-info">{{ fleet.isBuyInGame?'In game':'IRL' }}</span></td>
                </tr>
            {% endfor %}
        {% endblock table_body %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock %}
