<footer class="py-4">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-10">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-4 d-flex align-items-center">
                            <a href="{{ path('HOMEPAGE') }}"
                               class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                                <img src="{{ asset('images/logo/logo-blanc.svg') }}" alt="" width="50" height="65">
                            </a>
                            <span class="text-muted">© 2021 Shadow Of Caliban</span>
                        </div>
                        <div class="col-md-4">
                            <ul class="nav list-unstyled rgpd-links">
                                <li>
                                    <a href="{{ path('MENTIONS_LEGALES') }}">
                                        Mentions légales
                                    </a>
                                </li>
                                <li class="vr mx-2"></li>
                                <li>
                                    <a href="{{ path('POLITIQUE_CONFIDENTIALITE') }}">
                                        Politique de confidentialités
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-end">
                                <ul class="nav list-unstyled social-links">
                                    <li class="ms-3">
                                        <a href="{{ rsi_url }}" target="_blank"
                                           aria-label="Robert Space Industries, Shadow of Caliban">
                                            <i class="icon-246622"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ discord_url }}" target="_blank"
                                           aria-label="Discord de la Shadow of Caliban">
                                            <i class="fa-brands fa-discord"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ guilded_url }}" target="_blank"
                                           aria-label="Guilded de la Shadow of Caliban">
                                            <i class="fa-brands fa-guilded"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ twitter_url }}" target="_blank"
                                           aria-label="Twitter de la Shadow of Caliban">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ twitch_url }}" target="_blank"
                                           aria-label="Twitch de la Shadow of Caliban">
                                            <i class="fa-brands fa-twitch"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ youtube_url }}"
                                           target="_blank" aria-label="YouTube de la Shadow of Caliban">
                                            <i class="fa-brands fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ instagram_url }}" target="_blank"
                                           aria-label="Instagram de la Shadow of Caliban">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="ms-3">
                                        <a href="{{ facebook_url }}" target="_blank"
                                           aria-label="Facebook de la Shadow of Caliban">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


